CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
dist/


src/base/tools/aapt2/Configuration.pb.cc
src/base/tools/aapt2/Configuration.pb.h
src/base/tools/aapt2/Resources.pb.cc
src/base/tools/aapt2/Resources.pb.h
src/base/tools/aapt2/ResourcesInternal.pb.cc
src/base/tools/aapt2/ResourcesInternal.pb.h

aapt2.tar.gz
